* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: center;
}

html {
    font-size: 16px;
}

header {
    padding: 1.875rem; /* 30px */
}

body {
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.first-image {
    background-image: url("./images/new-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    transition: background-image 0.2s ease-in-out;
}

.centering {
    background-position: center;
}

.logo {
    width: 20.75rem; /* 60px */
    height: 6.375rem; /* 70px */
    mix-blend-mode: multiply;
    background-color: rgb(255, 0, 0);
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
}

.logo-img {
    background-image: url("./images/fulllogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.box-centering {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 3%;
}

.title-header {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.9375rem; /* 15px */
    height: 8.125rem; /* 130px */
    padding: 1.25rem; /* 20px */
    display: inline-flex;
    box-shadow: 0px 0.25rem 0.9375rem rgba(137, 38, 38, 0.3); /* 0px 4px 15px */
    backdrop-filter: blur(0.3125rem); /* 5px */
    animation: fadeIn 1s ease-in-out;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.title-header h1 {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 2rem; /* 32px */
    margin: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(1.25rem); /* 20px */ }
    100% { opacity: 1; transform: translateY(0); }
}

.list {
    animation: fadeIn 1s ease-in-out;
    position: relative;
    top: 0.625rem; /* 10px */
    left: 2.8125rem; /* 45px */
    list-style-type: none;
    display: flex;
    gap: 1.25rem; /* 20px */
    justify-content: center;
    padding: 1.25rem; /* 20px */
    font-size: 1.5625rem; /* 25px */
    font-weight: 500;
}

.list li {
    display: inline-block;
    cursor: pointer;
    padding: 0.625rem; /* 10px */
    transition: background-color 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.list li:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* 0 4px 8px */
    background-color: #e72929;
    color: white;
    transform: scale(1.1);
}

li .user {
    width: 1.25rem; /* 20px */
    position: relative;
    top: 0.3125rem; /* 5px */
    mix-blend-mode: multiply;
}

.register {
    font-size: 1.0625rem; /* 17px */
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    gap: 0.9375rem; /* 15px */
    position: relative;
    left: 80%;
    bottom: 3.375rem; /* 54px */
    transition: background-color 0.4s ease;
}

.register li {
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    padding: 0.3125rem 0.625rem; /* 5px 10px */
}

ul.register li:hover {
    background-color: white;
    color: rgb(56, 56, 232);
}

.login {
    position: relative;
}

.login:before {
    background-image: url("./images/user.png");
    height: 0.9375rem; /* 15px */
    width: 0.9375rem; /* 15px */
    position: absolute;
    right: 8.125rem; /* 130px */
    display: block;
}

.country {
    position: relative;
    right: 0.625rem; /* 10px */
}

.first-image h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    bottom: 0.625rem; /* 10px */
    padding-bottom: 0.1875rem; /* 3px */
    font-weight: 400;
    line-height: 2.5625rem; /* 41px */
    color: #fff;
}

.first-image h1 {
    font-weight: 400;
    position: relative;
    bottom: 0.625rem; /* 10px */
    text-align: center;
    color: #fff;
    padding-bottom: 5rem; /* 80px */
}

.middle {
    color: rgb(240, 242, 244);
    font-weight: 400;
    font-size: 1.25rem; /* 20px */
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.625rem; /* 10px */
}

.middle a, .register a {
    color: rgb(240, 242, 244);
    text-decoration: none;
}

.middle li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem; /* 10px */
    border-radius: 0.3125rem; /* 5px */
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.middle li:hover {
    color: white;
}

.middle li:hover b, .middle li:hover span {
    transform: translateY(-3.125rem); /* -50px */
}

.middle li b {
    margin-bottom: 0.3125rem; /* 5px */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.1875rem; /* 35px */
    transition: transform 0.3s ease;
}

.middle li span {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: 1.25rem; /* 20px */
    position: relative;
    transition: transform 0.3s ease;
}

.middle li span::after {
    content: '';
    width: 25%;
    height: 0.0625rem; /* 1px */
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 35%;
}

.more-info {
    position: fixed;
    bottom: 1.25rem; /* 20px */
    right: 1.25rem; /* 20px */
    z-index: 1000;
    display: inline-flex;
}

.more-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    margin-right: 2.5rem; /* 40px */
}

.more-info li {
    position: relative;
    margin-right: 1.125rem; /* 18px */
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.0625rem; /* 65px */
    height: 4.0625rem; /* 65px */
    border-radius: 50%;
    background-color: rgb(239, 231, 231);
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2); /* 0 2px 5px */
}

.icon {
    mix-blend-mode: multiply;
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    color: gray;
}

.more-info li:hover {
    opacity: 0.9;
}

.second-page {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-page h1 {
    text-align: center;
    padding: 1.875rem; /* 30px */
    padding-top: 3.125rem; /* 50px */
    padding-bottom: 3.125rem; /* 50px */
    font-weight: 500;
    font-size: 3.4375rem; /* 55px */
}

.box-image-changer {
    display: flex;
    overflow: hidden;
    width: 93.75rem; /* 1500px */
    height: 43.75rem; /* 700px */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.image-container {
    width: 100%;
    height: 100%;
    background-image: url("./images/first.jpg");
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease, background-image 0.3s ease;
    z-index: -1;
}

.image-container:hover {
    transform: scale(1.1);
}

.board {
    cursor: pointer;
    position: absolute;
    z-index: 1; /* Ensure the board content is above the background image */
    height: 100%;
    width: 26.875rem; /* 430px */
    background-color: rgba(44, 44, 44, 0.8); /* Optional: Add a semi-transparent background */
    padding: 1.25rem; /* 20px */
}

.board-ball {
    border-radius: 50%;
    border: 0.125rem solid white; /* 2px */
    background-color: #0873ba;
    width: 1.25rem; /* 20px */
    height: 1.25rem; /* 20px */
    position: relative;
    left: 25rem; /* 400px */
    top: 7.5rem; /* 120px */
    transition: top 0.3s ease;
}

.list-board {
    padding: 0;
    margin: 0;
    text-align: right;
    position: relative;
    top: 4.375rem; /* 70px */
}

.list-board li {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    padding-right: 0;
    padding: 1.5rem; /* 24px */
    font-size: 1.5rem; /* 24px */
    transition: opacity 0.3s ease;
}

.travel-price {
    transition: opacity 0.3s ease;
}

.fade-out {
    opacity: 0.4;
}

.info-box {
    padding: 1.5625rem; /* 25px */
    font-size: 1.25rem; /* 20px */
    font-family: Roboto, sans-serif;
    position: absolute;
    left: 56.25rem; /* 900px */
    top: 10.625rem; /* 170px */
    color: white;
    height: 55%;
    width: 35.625rem; /* 570px */
    background-color: rgba(44, 44, 44, 0.8);
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px */
}

.time-reamins {
    padding-right: 0.625rem; /* 10px */
    text-align: right;
}

.travel-duration {
    font-size: 1.375rem; /* 22px */
    padding-top: 0.3125rem; /* 5px */
}

.info-box h1 {
    display: inline-flex;
    text-align: left;
    justify-content: flex-start;
    position: relative;
    right: 1.875rem; /* 30px */
    bottom: 3.75rem; /* 60px */
    font-weight: 500;
}


.round-trip {
    position: absolute;
    top: 10.625rem; /* 170px */
    left: 3.125rem; /* 50px */
    font-weight: 400;
    padding-top: 0.5625rem; /* 9px */
}

.round-trip::before {
    content: "";
    background-image: url("./images/travel-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    mix-blend-mode: multiply;
    right: 4.0625rem; /* 65px */
    top: 1.875rem; /* 30px */
    transform: translateY(-50%);
    width: 6.25rem; /* 100px */
    height: 5rem; /* 80px */
}

.box-price {
    display: flex;
    gap: 0.625rem; /* 10px */
    position: relative;
    bottom: 5rem; /* 80px */
    padding: 0.625rem; /* 10px */
    right: 0.625rem; /* 10px */
}

.box-price h2 {
    position: relative;
    bottom: 0.3125rem; /* 5px */
}

.box-price h1 {
    position: relative;
    bottom: 4.6875rem; /* 75px */
    font-family: Robota, sans-serif;
}

.box-bottom {
    position: absolute;
    top: 18.75rem; /* 300px */
    gap: 12.5rem; /* 200px */
    display: flex;
}

.box-bottom button {
    font-size: 0.9375rem; /* 15px */
    width: 8.75rem; /* 140px */
    letter-spacing: 0.0625rem; /* 1px */
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding: 1.25rem; /* 20px */
    background-color: white;
    border: 1px solid white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.box-bottom button:hover {
    background-color: #0873ba;
    color: white !important;
}

.box-bottom span {
    position: relative;
    top: 2.5rem; /* 40px */
    font-size: 1.0625rem; /* 17px */
}

.box-bottom span a {
    color: white;
    text-decoration: underline;
}

.box-bottom span a:hover {
    text-decoration: none;
}

.view-all-button {
    display: flex;
    justify-content: center;
    font-size: 0.875rem; /* 14px */
    width: 8.75rem; /* 140px */
    margin: 0.9375rem; /* 15px */
    letter-spacing: 0.0625rem; /* 1px */
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding: 1.25rem; /* 20px */
    background-color: #0873ba;
    border: 1px solid #0873ba;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.view-div {
    padding: 1.875rem; /* 30px */
    margin-bottom: 3.125rem; /* 50px */
    display: flex;
    justify-content: center;
}

.view-all-button:hover {
    background-color: white;
    color: #0873ba;
}

.third-page {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}

.complement-board {
    text-align: center;
    background-color: rgb(210, 216, 224);
    height: 25rem; /* 400px */
    width: 100%;
}

.complement-text {
    color: #3d3d3f;
    font-size: 3.75rem; /* 60px */
    padding: 1.25rem; /* 20px */
    padding-top: 2.5rem; /* 40px */
}

.services ul {
    padding: 1.5625rem; /* 25px */
    display: flex;
    justify-content: space-around;
    position: relative;
}

.services li {
    width: 25rem; /* 400px */
    height: 12.5rem; /* 200px */
    position: relative;
    overflow: hidden;
    border-radius: 1.25rem; /* 20px */
    transition: transform 0.3s ease;
    display: flex;
    align-items: flex-end;
}

.car {
    background-image: url("./images/car.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vip {
    background-image: url("./images/vip.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.excutive {
    background-image: url("./images/excutive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services li span {
    color: white;
    font-size: 1.625rem; /* 26px */
    font-weight: 700;
    padding: 1.25rem; /* 20px */
    background-color: rgba(0, 0, 0, 0.5);
}

.services li:hover {
    transform: scale(1.1);
}

.fourth-page {
    background-image: url("./images/best2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    bottom: 43.75rem; /* 700px */
    transition: top 1s ease-out;
    z-index: -1;
    pointer-events: none; /* Ensure it's not interactive */
}

.complete-fourth {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cedar-miles {
    background-image: url("./images/cedar-miles.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 18.75rem; /* 300px */
    height: 18.75rem; /* 300px */
    mix-blend-mode: multiply;
    margin: 0;
}

.text-cedar {
    text-align: center;
    height: 25rem; /* 400px */
    width: 72.5rem; /* 1160px */
    font-size: 1.5rem; /* 24px */
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 6.25rem; /* 100px */
    margin-bottom: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.red {
    color: #e72929;
}

.discover-cedar-miles {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem; /* 20px */
    width: 100%;
    height: 18.75rem; /* 300px */
    color: white;
    padding: 2.5rem; /* 40px */
}

.circle {
    border-radius: 50%;
    width: 9.375rem; /* 150px */
    height: 9.375rem; /* 150px */
    background-color: #0873ba;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.5s ease;
}

.sky-prority {
    background-image: url("./images/airplane-cedar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0.625rem; /* 10px */
    filter: brightness(0) invert(1);
}

.sky-team {
    background-image: url("./images/sky-team.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
}

.top-tier {
    background-image: url("./images/top-tier.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 100%;
    filter: brightness(0) invert(1);
}

.package {
    transition: transform 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 5rem; /* 80px */
    padding-bottom: 0.625rem; /* 10px */
}

.package.package1::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 1.5625rem; /* 25px */
    width: 0;
    height: 0.125rem; /* 2px */
    background-color: #0873ba;
    transition: width 0.3s ease;
}

.package.package2::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 2.125rem; /* 34px */
    width: 0;
    height: 0.125rem; /* 2px */
    background-color: #0873ba;
    transition: width 0.3s ease;
}


.package3::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 4.875rem; /* 78px */
    width: 0;
    height: 0.125rem; /* 2px */
    background-color: #0873ba;
    transition: width 0.3s ease;
}

.package:hover::before {
    width: 100%;
}

.package:hover {
    transform: scale(1.1);
}

.package h3 {
    padding-top: 0.625rem; /* 10px */
    text-align: center;
    font-size: 1.875rem; /* 30px */
}

.circle:hover {
    background-color: #e72929;
}

a {
    color: white;
}

.circle3 {
    position: relative;
    right: 2.5rem; /* 40px */
}

.package1 div, .package1 h3 {
    position: relative;
    right: 1.5625rem; /* 25px */
}

.cedar-button {
    font-size: 0.9375rem; /* 15px */
    width: 18.75rem; /* 300px */
    letter-spacing: 0.0625rem; /* 1px */
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding: 1.5625rem; /* 25px */
    background-color: white;
    border: 1px solid white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.cedar-button:hover {
    background-color: #0873ba;
    color: black;
}

.white-background {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem; /* 40px */
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 31.0625rem; /* 497px */
    height: 18.75rem; /* 300px */
    bottom: 43.75rem; /* 700px */
    left: 12.5rem; /* 200px */
    z-index: 1;
    color: black;
    font-size: 1.5625rem; /* 25px */
}

.container-map {
    width: 38.75rem; /* 620px */
    height: 15.625rem; /* 250px */
    overflow: hidden;
    position: relative;
    bottom: 62.5rem; /* 1000px */
    left: 43.75rem; /* 700px */
    z-index: 2;
}

.geographic {
    background-image: url("./images/maps.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.container-map:hover .geographic {
    transform: scale(1.1);
}

.map-text {
    color: white;
    font-size: 1.875rem; /* 30px */
    padding: 1.875rem; /* 30px */
    display: flex;
    justify-content: flex-start;
    position: absolute;
    align-items: flex-start;
    bottom: 0;
    text-align: left;
    right: 40.625rem; /* 650px */
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.map-text:hover {
    transform: scale(1);
}

.join-cedar {
    height: 21.875rem; /* 350px */
    width: 25rem; /* 400px */
    background-color: #0873ba;
    position: relative;
    left: 18.75rem; /* 300px */
    bottom: 61.25rem; /* 980px */
    z-index: 3;
    text-align: center;
}

.join-cedar:hover .join-cedar-image {
    transform: translateY(-2.5rem); /* -40px */
}

.join-cedar:hover .join-cedar-miles {
    transform: translateY(-2.5rem); /* -40px */
}

.join-cedar-image {
    background-image: url("./images/sky-team.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6.875rem; /* 110px */
    height: 6.875rem; /* 110px */
    filter: brightness(0) invert(1);
    position: relative;
    left: 9.375rem; /* 150px */
    top: 5.625rem; /* 90px */
    transition: transform 0.4s ease;
}

.join-cedar-miles {
    font-size: 1.875rem; /* 30px */
    color: white;
    position: relative;
    top: 4.0625rem; /* 65px */
    left: 0.3125rem; /* 5px */
    z-index: 10;
    transition: transform 0.4s ease;
}

.credit-board {
    width: 38.75rem; /* 620px */
    height: 15rem; /* 240px */
    overflow: hidden;
    position: relative;
    bottom: 84.375rem; /* 1350px */
    left: 43.75rem; /* 700px */
    z-index: 2;
}

.credit-image {
    background-image: url("./images/credit.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.credit-board:hover .credit-image {
    transform: scale(1.1);
}

.map-text {
    color: white;
    font-size: 1.875rem; /* 30px */
    padding: 1.875rem; /* 30px */
    display: flex;
    justify-content: flex-start;
    position: absolute;
    align-items: flex-start;
    bottom: 0;
    text-align: left;
    right: 9.375rem; /* 150px */
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.mobile-box {
    width: 100%;
    height: 31.25rem; /* 500px */
    position: relative;
    bottom: 75rem; /* 1200px */
}

.mobile-image {
    background-image: url("./images/test2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.mobile-text {
    font-size: 1.5625rem; /* 25px */
    position: relative;
    bottom: 25rem; /* 400px */
    color: white;
    left: 12.5rem; /* 200px */
    width: 31.25rem; /* 500px */
}

.mobile-text h2 {
    font-size: 3.5rem; /* 56px */
    font-weight: 500;
}

.mobile-box div {
    margin-top: 1.25rem; /* 20px */
    font-size: 1.625rem; /* 26px */
    font-weight: 300;
    margin-bottom: 0.9375rem; /* 15px */
}

.mobile-box span {
    display: block;
    font-size: 1.25rem; /* 20px */
    color: #fff;
    text-transform: uppercase;
    padding-left: 1.5625rem; /* 25px */
    position: relative;
}

.mobile-box span::before {
    content: "";
    background-color: #fff;
    height: 0.125rem; /* 2px */
    width: 1.125rem; /* 18px */
    position: absolute;
    left: 0;
    top: 0.375rem; /* 6px */
}

.mobile-mea-box {
    width: 27.5rem; /* 440px */
    height: 32.1875rem; /* 515px */
    position: relative;
    left: 62.5rem; /* 1000px */
    bottom: 43.75rem; /* 700px */
    z-index: 10;
}

.mobile-mea {
    background-image: url("./images/mobile-mea.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.mobile-mea-box.show .mobile-mea {
    transform: translateY(0);
    opacity: 1;
}

.mobile-mea-box.hide .mobile-mea {
    transform: translateY(100%);
    opacity: 0;
}

.blue-board {
    width: 100%;
    height: 43.75rem; /* 700px */
    background-image: url("./images/blue-ariplane.png");
    filter: hue-rotate(340deg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 75rem; /* 1200px */
}

.blue-board h1 {
    font-size: 4.375rem; /* 70px */
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 1.875rem; /* 30px */
    z-index: -1;
}

.blue-box a {
    text-decoration: none;
    color: inherit;
}


.blue-flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 3.4375rem; /* 55px */
    height: 25rem; /* 400px */
}

.blue-box {
    width: 25rem; /* 400px */
    height: 18.75rem; /* 300px */
    color: white;
    border: 0.125rem solid white; /* 2px */
    background: linear-gradient(100deg, #18345e, #1b57aa);
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease, background 0.3s ease;
}

.blue-text {
    padding: 1.875rem; /* 30px */
    font-size: 1.5625rem; /* 25px */
    font-weight: lighter;
}

.blue-date {
    padding: 1.25rem; /* 20px */
    font-weight: 500;
    position: relative;
    left: 0.625rem; /* 10px */
}

.readmore-blue {
    padding: 1.25rem; /* 20px */
    position: relative;
    left: 1.25rem; /* 20px */
}

.readmore-blue2 {
    padding: 1.25rem; /* 20px */
    position: relative;
    left: 1.25rem; /* 20px */
    top: 1.5625rem; /* 25px */
}

.readmore-blue3 {
    padding: 1.25rem; /* 20px */
    position: relative;
    left: 1.25rem; /* 20px */
    top: 2.8125rem; /* 45px */
}

.readmore-blue::before, .readmore-blue2::before, .readmore-blue3::before {
    content: "";
    height: 0.125rem; /* 2px */
    width: 0.625rem; /* 10px */
    background-color: red;
    position: absolute;
    top: 1.875rem; /* 30px */
    right: 24.0625rem; /* 385px */
}

.blue-box:hover {
    color: rgba(60, 60, 160, 0.8);
    background: white;
}

.blue-button {
    font-size: 0.9375rem; /* 15px */
    width: 20rem; /* 320px */
    letter-spacing: 0.0625rem; /* 1px */
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding: 1.875rem; /* 30px */
    background-color: white;
    border: 0.0625rem solid white; /* 1px */
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    left: 37.8125rem; /* 605px */
    top: 0.625rem; /* 10px */
}

.blue-button:hover {
    background-color: #1b57aa;
    color: black;
}

.traveler-header {
    display: flex;
    justify-content: center;
    font-size: 2.5rem; /* 40px */
    position: relative;
    bottom: 71.875rem; /* 1150px */
}

.arrow {
    background-image: url("./images/backarrow.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 6.25rem; /* 100px */
    height: 6.25rem; /* 100px */
    position: relative;
    bottom: 77.5rem; /* 1240px */
    left: 95rem; /* 1520px */
}

.arrow2 {
    background-image: url("./images/backarrow.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 6.25rem; /* 100px */
    height: 6.25rem; /* 100px */
    position: relative;
    bottom: 83.75rem; /* 1340px */
    left: 100.625rem; /* 1610px */
    transform: scaleX(-1);
}

.traveler-box {
    display: flex;
    gap: 1.875rem; /* 30px */
    position: relative;
    bottom: 78.125rem; /* 1250px */
    font-size: 1.25rem; /* 20px */
}

.traveler-info1, .traveler-info2, .traveler-info3 {
    height: 25.625rem; /* 410px */
    width: 30.1875rem; /* 483px */
    background-color: #f6f6f6;
}


.traveler-info4 {
    height: 25.625rem; /* 410px */
    width: 30.1875rem; /* 483px */
    background-color: #f6f6f6;
}

.traveler-image-box {
    width: 100%;
    height: 10.9375rem; /* 175px */
    overflow: hidden;
}

.traveler-image1, .traveler-image2, .traveler-image3, .traveler-image4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 13.75rem; /* 220px */
    transition: transform 0.3s ease;
}

.traveler-image1 {
    background-image: url("./images/chekc-in.jpg");
}

.traveler-image2 {
    background-image: url("./images/message.jpg");
}

.traveler-image3 {
    background-image: url("./images/skyservice.jpg");
}

.traveler-image4 {
    background-image: url("./images/bags.jpg");
}

.traveler-image1:hover, .traveler-image2:hover, .traveler-image3:hover, .traveler-image4:hover {
    transform: scale(1.1);
}

.traveler-type {
    color: #6b6b6b;
    padding-top: 1.25rem; /* 20px */
}

.traveler-text {
    padding: 1.875rem; /* 30px */
}

.traveler-text h2 {
    font-weight: 600;
    color: #2b363e;
}

.green-board {
    background-image: url("./images/nice-.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 37.5rem; /* 600px */
    position: relative;
    bottom: 68.75rem; /* 1100px */
    color: white;
    overflow: hidden;
}

.green-header {
    padding-top: 3.125rem; /* 50px */
    text-align: center;
    font-size: 4.375rem; /* 70px */
    z-index: 10;
}

.green-board::before {
    content: "";
    background-color: rgba(0, 128, 0, 0.5); /* Green overlay with 50% opacity */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.green-header-container {
    position: relative;
    z-index: 2;
    margin-bottom: 1.25rem; /* 20px */
}

.green-flex {
    z-index: 2;
    position: relative;
    display: flex;
    gap: 6.25rem; /* 100px */
    padding: 3rem;
    padding-bottom: 0;
    padding-top: 0;
}


.green-info {
    position: relative;
    z-index: 2;
    width: 25rem; /* 400px */
    height: 25rem; /* 400px */
}

.green-info h2 {
    font-size: 2.5rem; /* 40px */
    font-weight: 500;
    padding: 1.875rem; /* 30px */
}

.readmore-green {
    padding: 1.25rem; /* 20px */
    position: relative;
    left: 1.25rem; /* 20px */
    font-size: 1.25rem; /* 20px */
    padding-right: 0;
}

.readmore-green::before {
    content: "";
    height: 0.1875rem; /* 3px */
    width: 0.9375rem; /* 15px */
    background-color: red;
    position: absolute;
    top: 1.875rem; /* 30px */
    right: 24.0625rem; /* 385px */
}

.green-second-text, .green-third-text {
    font-size: 1.25rem; /* 20px */
    position: relative;
    left: 2.0625rem; /* 33px */
}

.green-button {
    font-size: 0.9375rem; /* 15px */
    width: 20rem; /* 320px */
    letter-spacing: 0.0625rem; /* 1px */
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding: 1.875rem; /* 30px */
    background-color: white;
    border: 0.0625rem solid white; /* 1px */
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;

    bottom: 3.75rem; /* 60px */
    z-index: 2;
}

.green-button:hover {
    background-color: #1b57aa;
    color: black;
}

.readmore-green:hover {
    text-decoration: underline;    
}

.black-board {
    background-color: #2e3337;
    width: 100%;
    height: 46.875rem; /* 750px */
    position: relative;
    bottom: 71.875rem; /* 1150px */
    display: flex;
    gap: 2.6125rem; /* 45px */
    padding-top: 5rem; /* 80px */
     /* 80px */
    padding-bottom: 1.875rem; /* 30px */
    color: white;
}

.black-title {
    font-size: 1.3125rem; /* 21px */
    font-weight: 500;
    padding-left: 6.875rem; /* 110px */
    padding-top: 0.725rem; /* 10px */
    padding-bottom: 1.25rem; /* 20px */
    transition: text-duration 0.4s ease;
}

.black-title2 {
    font-size: 1.375rem; /* 22px */
    width: 6.25rem; /* 100px */
    position: relative;
    right: 0.1875rem; /* 3px */
    font-weight: 500;
    padding-left: 6.875rem; /* 110px */
    padding-top: 0.625rem; /* 10px */
    padding-bottom: 1.25rem; /* 20px */
    transition: text-duration 0.4s ease;
}

.black-title3 {
    font-size: 1.375rem; /* 22px */
    width: 6.25rem; /* 100px */
    position: relative;
    top: 15.625rem; /* 250px */
    right: 14.6875rem; /* 235px */
    font-weight: 500;
    padding-left: 6.875rem; /* 110px */
    padding-top: 0.625rem; /* 10px */
    padding-bottom: 1.25rem; /* 20px */
    transition: text-duration 0.4s ease;
}


.black-title:hover, .black-title2:hover, .black-title3:hover {
    text-decoration: underline;
}

.black-list li {
    position: relative;
    left: 5rem; /* 80px */
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* 8px */
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.0625rem; /* 17px */
    padding: 1.875rem; /* 30px */
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0;
    transition: color 0.3s ease;
}

.black-list2 li {
    position: relative;
    right: 9.6875rem; /* 155px */
    top: 15.625rem; /* 250px */
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* 8px */
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.0625rem; /* 17px */
    padding: 1.875rem; /* 30px */
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0;
    transition: color 0.3s ease;
}

.black-list li:hover {
    color: white;
}

.black-image-box {
    height: 9.375rem; /* 150px */
    width: 12.5rem; /* 200px */
    position: relative;
    top: 12.5rem; /* 200px */
    right: 11.25rem; /* 180px */
    z-index: 5;
    mix-blend-mode: multiply;
}

.black-image {
    background-image: url("./images/scure-globalsign.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.last-text {
    position: relative;
    top: 30rem; /* 480px */
    right: 47.5rem; /* 760px */
}

@media (max-width: 1200px) {
    html {
        font-size: 15px; /* Slightly smaller font for medium screens */
    }
}

@media (max-width: 992px) {
    html {
        font-size: 14px; /* Smaller font for tablets */
    }
}

@media (max-width: 768px) {
    html {
        font-size: 13px; /* Smaller font for mobile devices */
    }
}

@media (max-width: 576px) {
    html {
        font-size: 12px; /* Even smaller font for smaller mobile devices */
    }
}

/* For large screens */
@media (min-width: 1200px) {
    .black-title, .black-title2, .black-title3 {
        font-size: 1.5rem;
    }

    .black-list li {
        left: 5rem;
        font-size: 1.0625rem;
    }

    .black-image-box {
        height: 9.375rem;
        width: 12.5rem;
        top: 12.5rem;
        right: 11.25rem;
    }

    .last-text {
        top: 30rem;
        right: 47.5rem;
    }
}

/* For medium screens (tablets, smaller laptops) */
@media (max-width: 992px) {
    .black-title, .black-title2, .black-title3 {
        font-size: 1.25rem;
    }

    .black-list li {
        left: 4rem;
        font-size: 1rem;
    }

    .black-image-box {
        height: 8.75rem;
        width: 11.5rem;
        top: 10rem;
        right: 9rem;
    }

    .last-text {
        top: 25rem;
        right: 40rem;
    }
}

/* For small screens (mobile devices) */
@media (max-width: 768px) {
    .black-title, .black-title2, .black-title3 {
        font-size: 1rem;
    }

    .black-list li {
        left: 2rem;
        font-size: 0.875rem;
    }

    .black-image-box {
        height: 7.5rem;
        width: 10rem;
        top: 8rem;
        right: 5rem;
    }

    .last-text {
        top: 20rem;
        right: 30rem;
    }
}

/* For extra small screens */
@media (max-width: 576px) {
    .black-title, .black-title2, .black-title3 {
        font-size: 0.875rem;
    }

    .black-list li {
        left: 1.5rem;
        font-size: 0.75rem;
    }

    .black-image-box {
        height: 6.25rem;
        width: 8.5rem;
        top: 5rem;
        right: 3rem;
    }

    .last-text {
        top: 15rem;
        right: 20rem;
    }
}


/* Specific adjustments for .traveler-info on smaller screens */
@media (max-width: 768px) {
    .traveler-info {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .traveler-image-box {
        height: auto;
    }
}

/* Specific adjustments for .blue-box on smaller screens */
@media (max-width: 992px) {
    .blue-box {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
    }
}
